<h4>{{options.title}}</h4>

<br>
<ui-switch *ngIf="reporte" size="large" [(ngModel)]="btn_state" (change)="onChange($event)"></ui-switch>




<h4>{{fecha}}</h4>
<ion-buttons no-padding>
    <button ion-button icon-only small clear (click)="notificaciones()">
                                        <ion-icon name="notifications"></ion-icon>                        
                                    </button>
    <button ion-button icon-only small clear (click)="historico(options.tag_id, options.title)">
                                <ion-icon name="stats"></ion-icon>                        
                            </button>
    <button ion-button icon-only small clear (click)="progSemanal(options.tag_id)">
            <ion-icon name="stopwatch"></ion-icon>                   
                            </button>
</ion-buttons>



<!-- <ion-spinner *ngIf="!reporte" name="bubbles"></ion-spinner> -->