<ion-header>

    <ion-navbar color="secondary">
        <ion-buttons left>
            <button ion-button icon-only (click)="irAhome()">
                                <ion-icon name="arrow-back"></ion-icon>                        
                              </button>
        </ion-buttons>
        <ion-title>Agregar Tags al panel</ion-title>
    </ion-navbar>



</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label stacked>Ingrese el serial del dispositivo</ion-label>
            <ion-input type="text" value="" [(ngModel)]="serialDispositivo"></ion-input>
        </ion-item>


    </ion-list>
    <p *ngIf="msgError" style="color: red">{{msgError}}</p>
    <button ion-button block color="secondary" (click)="buscarTags()">Buscar</button>

    <ion-list>

        <ion-item *ngFor="let tag of tags">
            <p>
                {{tag.tag_descripcion}}

            </p>
            <button ion-button clear item-end (click)="agregar(tag.tag_id, tag.tag_nombre)">Agregar</button>
        </ion-item>
    </ion-list>

    <!-- <justgage [options]="options" [max]="max" [value]="valor"></justgage> -->

</ion-content>